//admin login page
.admin_login {
  background-color: $charcoal;
  color: $offwhite;
  margin-top: 10%;
  h1{
    font-size: 1.5em;
    font-weight: bold;
  }
  .loginForm{
    margin: 0 auto;
    background-color: $offwhite;
    padding: 40px;
    color: $charcoal;
    border-radius: 4px;
  }
  #login{
    background-color: $blue;
    border-color: $blue;
    color: white;
    padding: 12px 0px 12px;
    margin-bottom: 10px;
  }
  .input-group-text{
    background-color: lighten($charcoal, 50%);
    color: white;
  }
}

.admin_index_pages{
  background-color: $offwhite;
  #adminMainNav{
    background-color: $blue;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;

    .navbar-brand{
      margin-bottom: 0px;
      text-transform: uppercase;
      font-weight: 600;
      &:hover{
        color: white;
      }
    }

    .nav-item{
      font-size: 0.875em;
      &:hover{
        background-color: darken($blue, 10%);
      }
    }

    .nav-link{
      &:hover{
        color: white;
      }
    }
  }

  #greeting{
    background-color: $charcoal;
    color: white;
    padding: 15px;
    //margin-bottom: 15px;
    p{
      margin-bottom: 0px;
    }
  }

  #options{
    .active{
      background-color: darken($blue, 10%);
      border-color: darken($blue, 10%);
      a{
        color: white;
      }
    }
    a{
      color: $charcoal;
    }
  }

  .mainArea{
    margin-top: 15px;
  }

  #goSomewhere{
    background-color: $blue;
  }

  #adminFooter{
    background-color: $charcoal;
    color: white;
    p{
      margin-bottom: 0px;
    }
  }
  #copyright{
    width: 100vw;
    display: block;
  }
}
//
// .sidebar{
//   position: fixed;
//   left: 0;
// }
